.settings
.DS_Store

/LE-Mananger/Debug/*
/LEMananger/LE-Mananger_debug.exe
/LEMananger/LE-Mananger_release.exe
/LEMananger/configs/*
/LE-Mananger/.vs/*
/.vs/*
/radiant/*.dll
/radiant/*.exe
/radiant/*.xml
/radiant/*.pref
/radiant/*.png
/radiant/*.sh
/radiant/*.conf
/radiant/*.dtd
/radiant/*.immodules
/radiant/*.modules
/radiant/*.engine
/radiant/*.config
/radiant/*.xlink
/radiant/*.def
/radiant/*.proj
/radiant/*.shader
/radiant/shaderlist.txt
/radiant/*.tga
/radiant/*.jpg
/radiant/*.bmp
/radiant/.svn

/lifeEngine/bin-release/*
/lifeEngine/maps/*
/lifeEngine/models/*
/lifeEngine/scripts/*
/lifeEngine/shaders/*
/lifeEngine/textures/*

*.log
*.ilk
*.ipch
*.exp
*.VC.db
*.opendb
*.metagen
*.pdb
*.obj
*.pyc
*.so
*.tlog
*.vcxproj.user
*.zip